<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="María del Rocío Cabello Toscano"/>
  <title>Administration</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="{{ url_for('static',filename='styles/403.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body bgcolor="#ebdaff">
<nav class="navbar navbar-expand-sm navbar-dark bg-info" style="box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
  <div class="mx-auto order-0">
    <a class="navbar-brand" href="/">
      <img src="../static/logo.png" width="90" class="d-inline-block align-top" alt="">
    </a>
  </div>
</nav>

{{error}}

<a href="/" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-fast-backward"></span> Back
</a>

<div class='hover'>
  <div class='background'>
    <div class='door'>403</div>
    <div class='rug'></div>
  </div>
  <div class='foreground'>
    <div class='bouncer'>
      <div class='head'>
        <div class='neck'></div>
        <div class='eye left'></div>
        <div class='eye right'></div>
        <div class='ear'></div>
      </div>
      <div class='body'></div>
      <div class='arm'></div>
    </div>
    <div class='poles'>
      <div class='pole left'></div>
      <div class='pole right'></div>
      <div class='rope'></div>
    </div>
  </div>
</div>

</body>
</html>
