<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="María del Rocío Cabello Toscano"/>
  <title>Predictor</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){

        var $cat = $("#inputDisease"),
            $subcat = $(".subcat");

        var optgroups = {};

        $subcat.each(function(i,v){
        	var $e = $(v);
        	var _id = $e.attr("id");
    			optgroups[_id] = {};
    			$e.find("optgroup").each(function(){
          	var _r = $(this).data("rel");
            $(this).find("option").addClass("is-dyn");
          	optgroups[_id][_r] = $(this).html();
    			});
        });
        $subcat.find("optgroup").remove();

        var _lastRel;
        $cat.on("change",function(){
            var _rel = $(this).val();
            if(_lastRel === _rel) return true;
            _lastRel = _rel;
            $subcat.find("option").attr("style","");
            $subcat.val("");
            $subcat.find(".is-dyn").remove();
            if(!_rel) return $subcat.prop("disabled",true);
            $subcat.each(function(){
            	var $el = $(this);
              var _id = $el.attr("id");
              $el.append(optgroups[_id][_rel]);
            });
            $subcat.prop("disabled",false);
        });

    });
  </script>
  <script>
   function submitForm() {
     var ipd = document.preictor_selector.inputDisease;
     var im = document.preictor_selector.inputModel;
      var http = new XMLHttpRequest();
      http.open("POST", "/get_model_info", true);
      http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      var params = "res=" + ipd.options[ipd.selectedIndex].value+";"+ im.options[im.selectedIndex].value; // probably use document.getElementById(...).value
      http.send(params);
      http.onload = function() {
          document.getElementById('model_descr').innerHTML=http.responseText;
      }
  }
  </script>
</head>
<body bgcolor="#ebdaff">
  <div id="loading" style="display:none;">
    <img id="loading-image"  src="../static/2.gif" data-placement="above" alt="Loading..." />
  </div>

<nav class="navbar navbar-expand-sm navbar-dark bg-info" style="box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          {{navbar}}
      </ul>
  </div>
  <div class="mx-auto order-0">
      <a class="navbar-brand" href="">
          <img src="../static/logo.png" width="90" class="d-inline-block align-top" alt="">
      </a>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              {{signin}}
          </li>
      </ul>
  </div>
</nav>

<div class="card-body">
  <form method="post" name="preictor_selector" class="needs-validation" action="/predictor" enctype=multipart/form-data>
      <div class="form-row">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                  <input style="size: auto" type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                  <label class="custom-file-label" for="inputGroupFile01">Choose file containing gene expression levels (one row per patient)</label>
              </div>
          </div>
      </div>
      <div class="form-row"> <p>  </p> </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="inputDisease">Cancer</label>
          </div>
          <div class="form-group col-md-3">
              <label for="inputModel">Model</label>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <select id="inputDisease" name="disease" class="form-control" required>
                <option selected>Choose the cancer type you need to predict</option>
                    {{cancer_options}}
              </select>
          </div>
          <div class="form-group col-md-3">
              <select disabled="disabled" onchange="return submitForm()" name="model" class="subcat form-control" id="inputModel" required>
                <option selected>Choose the machine learning model you want to use</option>
                {{model_options}}
          </select>
          </div>
          <div id="model_descr">

          </div>
          <div class="form-group col-md-auto">
              <button type="submit" class="btn btn-info" onclick="('#loading').style.display = "block">Predict!</button>
          </div>

      </div>
  </form>

</div>

<div class="card-body">
    {{results}}
</div>

<div class="fixed-bottom">
  <img src="../static/foot.png" width="1500" height="80">
</div>
</body>
</html>
