
WebApp/\.idea/

WebApp/database/mysql_connection_settings\.json

WebApp/__pycache__/

\.idea/

WebApp/database/__pycache__/

WebApp/predictor/__pycache__/

WebApp/predictor/data/false_patient_id\.py

WebApp/testdata/
